{% from "_helpers.html" import render_photo %}
{% extends "layout.html" %}
{% block body %}
<div class="structure fullwidth">
  <table class="gallery">
    {% for p in photos %}
      {% if loop.index0 % 5 == 0 %}
        {% if loop.index0 > 0 %}
          </tr>
        {% endif %}
        <tr>
      {% endif %}
      <td>
        <a id="{{ p.id }}" href={{ url_for('timeline', phid=p.id, order=order) }}>
          <img class="gallery" src={{ url_for('photo', phid=p.id, size='small') }}>
        </a>
      </td>
    {% endfor %}
  </table>
</div>

{% endblock %}
