{% from "_helpers.html" import render_photo %}
{% extends "layout.html" %}
{% block body %}

<div class="structure bgblock fullwidth">
  {% if page > 2 %}
    <div class="button fl">
      <a href="{{ url_for('list', page=1) }}">
        |&lt;
      </a>
    </div>
  {% endif %}

  {% if page > 1 %}
    <div class="button fl">
      <a href="{{ url_for('list', page=page-1) }}">
        &lt;&lt;&lt;
      </a>
    </div>
  {% endif %}

  {% if last_page %}
    <div class="button fr">
      <a href="{{ url_for('list', page=last_page) }}">
        &gt;|
      </a>
    </div>
  {% endif %}

  {% if older %}
    <div class="button fr">
      <a href="{{ url_for('list', page=page+1) }}">
        &gt;&gt;&gt;
      </a>
    </div>
  {% endif %}
  <div style="clear: both;"></div>
</div>

<div id="photolist">
{% for p in photos %}
    {{ render_photo(p, uploader|default(False)) }}

{% endfor %}
</div>

<div class="structure bgblock fullwidth">
  {% if page > 2 %}
    <div class="button fl">
      <a href="{{ url_for('list', page=1) }}">
        |&lt;
      </a>
    </div>
  {% endif %}

  {% if page > 1 %}
    <div class="button fl">
      <a href="{{ url_for('list', page=page-1) }}">
        &lt;&lt;&lt;
      </a>
    </div>
  {% endif %}

  {% if last_page %}
    <div class="button fr">
      <a href="{{ url_for('list', page=last_page) }}">
        &gt;|
      </a>
    </div>
  {% endif %}

  {% if older %}
    <div class="button fr">
      <a href="{{ url_for('list', page=page+1) }}">
        &gt;&gt;&gt;
      </a>
    </div>
  {% endif %}
  <div style="clear: both;"></div>
</div>

{% endblock %}
