{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block body %}
<div class="edit-photo">
  <img src="{{ url_for('thumbnail', phid=p.id) }}">
  <div id="editform">
    <form action="" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <dl>
        {{ render_field("Aufgenommen:", form.recorded) }}
        {{ render_field("Kommentar:", form.comment) }}
      </dl>
      <div class="rightalign">
        {{ form.submit() }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
