{% extends "layout.html" %}
{% block body %}
<div id="gallerycontrols">
  <div id="gallerynext">
    {% if page > 1 %}
      <a href="{{ url_for('list', page=page-1) }}">
        &lt;&lt;&lt;
      </a>
    {% endif %}
  </div><div id="gallerycomment">
  </div><div id="galleryprev">
    {% if older %}
      <a href="{{ url_for('list', page=page+1) }}">
        &gt;&gt;&gt;
      </a>
    {% endif %}
  </div>
</div>
<div id="photolist">
{% for p in photos %}
  <div class="photo">
    <div class="comment">
      {{ p.comment }}
    </div>
    <a href="{{ url_for('gallery', phid=p.id) }}">
      <img class="photo" src="{{ url_for('photo', phid=p.id) }}">
    </a>
    <div id="datum">
      Aufgenommen: {{ p.date.strftime('%a, %d. %b %Y %H:%M') }}
      <br>
      Hochgeladen: {{ p.added.strftime('%a, %d. %b %Y %H:%M') }}
    </div>
  </div>

{% endfor %}
</div>
{% endblock %}
