body {
    font-family: serif;
    background: WhiteSmoke;
    color: #4E629C;
}

/* div { */
    /* border: 2px dashed; */
/* } */


img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

#main {
    margin: auto;
    max-width: 900px;
}

#header {
    width: 90%;
    margin: auto;
}

#home {
    font-size: x-large;
    font-weight: bold;
    float: left;
}

#actions {
    float: right;
}

#actions a {
    margin-left: 3ex;
    padding: 0 0.5ex;
    background: lightgray;
}

div.login {
    margin-top: 2em;
    margin-left: 20%;
}

div.structure {
    margin-top: 1em;
}

table.gallery {
    width: 100%;
}

table.gallery td {
    max-width: 20%;
    text-align: center;
}

img.gallery{
    max-width: 162px;
    width: 100%;
    background: lightgray;
    padding: 0.5ex;
}

div.timelinecontrol {
    padding: 1.2ex;
}

div.newer, div.older {
    /* border: 1px solid gray; */
    display: inline-block;
    width: 162px;
    max-width: 22%;
    text-align: center;
    font-size: 80%;
}

div.newer {
    float: left;
    margin-right: 10px;
}

div.older {
    float: right;
    margin-left: 10px;
}

div.rightalign {
    width: 100%;
    text-align: right;
}

div.comment {
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}

.edit-photo > div#editform {
    padding: 0 0.5em;
    display: inline-block;
    /* background: lightgreen; */
    /* min-width: 500px; */
    max-width: 700px;
}

div#photo, div.photo {
    width: 90%;
    padding: 0 1.2ex;
}

div.photo-l {
    width: 90%;
    margin: 1em auto;
    padding: 0 1.2ex;
}

div.bgblock {
    background: lightgray;
}

div.button {
    padding: 0 2ex;
    font-size: 80%;
    text-align: center;
}

.fullwidth {
    width: 100%;
}

div.fl {
    float: left;
}

div.fr {
    float: right;
}

div#gallerycomment {
    display: inline-block;
    width: 80%;
    font-size: 120%;
    text-align: center;
}

div.date {
    font-size: 80%;
}

div.preview {
  padding: 0.5ex;
}

.flashed {
    background: LightYellow;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.user-action {
    color: inherit;
    padding-left: 1em;
    padding-right: 1em;
}

.error {
    color: black;
    background: #FFADB6;
}
